*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    font-size: 20px;
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}



.container{
     padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
    margin-top: 10px;
    margin-left: 0px;
    
}

nav ul li{
  display: inline-block;  
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #FFC300 ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 0%;
    font-size: 50px;
}
.header-text p{
    font-size: 30px;
    margin-top: 145px;
    font-weight: 600;
}
.hook{
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 5px;
    color: #7393B3;
}
.button {
    text-decoration: none;
 }
.callbtn{
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    width: fit-content;
    border: 1px solid blue;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    transition: background 0.5s;
    background-color: blue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.callbtn:hover{
    background: #FFC300;
    color: blue;
}

/* --------about------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row {
    display: flex; /* Add this line */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
flex-basis: 60%;
}
.sub-title{
    font-size: 50px; 
    font-weight: 600;
    color: #fff;
}
.sub-title-p{
    font-size: 20px;
    margin-top: 15px;
    color:#7393B3;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    color: blue;
    

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    }
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFC300;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents{
    display: none;
    font-size: 20px;
}

.tab-contents.active-tab{
    display: block;
}

/* ------------services------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
font-size: 50px;
margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #D27D2D;
    transform: translateY(-10px);
}

/* ---------Why Anzika----------------- */
#WhyAnzika {
    padding: 50px 0;
  }
  
  .whyAnzika-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  
  .whyAnzika {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .whyAnzika img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #D27D2D);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}  

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #00ff62;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
}

.whyAnzika:hover img{
    transform: scale(1.1);
}
.whyAnzika:hover .layer{
    height: 100%;}
.btn{
    display: block;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    border: 1px solid blue;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: blue;
    
}

.btn:hover{
    background: #FFC300;
    color: blue;
}

/* -----------ubaka izina------------- */

.ubakaizina p{
    margin-top: 10px;
    color: #7393B3;
    text-align: none;
    text-decoration: none;
    margin-bottom: 30px;
}


/* -----------contact------------- */

  .contact-left {
    flex-basis: 35%;
    margin-bottom: 20px;
  }
  
  .contact-right {
    flex-basis: 60%;
  }
  .contact-left p{
    margin-top: 30px;
  }

  .contact-left p i{
    color: blue;
    margin-right: 15px;
    font-size: 25px;
  }

  .social-icons{
    margin-top: 30px;
  }

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: blue;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 12px;
    margin: 10px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 50px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    background-color: blue;

}
.contact-right p{
    font-size: 18px;
    margin-top: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    font-size: 15px;

}

/* gotop btn */

.gotopbtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background: #FFC300;
    bottom: 50px;
    right: 10px;

    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color:#080808;

}


/* CSS for smaller screens */
nav i.fas {
    display: none;
}

@media only screen and (max-width: 600px){
    #header {
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 10%;
        font-size: 10px;
    }
    .header-text p{
        font-size: 20px;
        margin-top: 15px;
    }
    .hook{
        font-size: 18px;
        text-decoration: none;
        text-transform: none;
        color: #7393B3;
        
    }
    nav i.fas {
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #FFC300;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;

}
.ubakaizina h1{
    font-size: 20px;
}
.ubakaizina p{
    font-size: 18px;
}
